body {
    background-color: rgb(154, 156, 156);
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}
.foto_do_topo{
    border-radius: 25px;
    border-color: rgb(238, 9, 219);
}

#tittle{
    color:rgb(20, 14, 107);
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
a{
    text-decoration: underline;
    color: #000;
}

.subtittle{
    color:rgb(14, 22, 18);
    font-size: 20px;
}
.post_title{
    font-size: 30px;
    font-style: italic;
    margin:0;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(5, 12, 110);
}
.post{
    background-color: beige;
    background-image:url(flores.jpg);
    padding: 20px;
    border: 3px solid #000;
    border-top: 2px dotted rebeccapurple;
    border-radius: 50px;
    border-right: 4px dashed pink;
    margin-bottom: 3px;
    text-transform: capitalize;
    text-align: left;
}
.post_conteudo{
    margin: 0;
    margin-bottom: 15px;
}
.imagem_do_post{
    margin-bottom: 15px;
    width: 50%;
}
.lista li a{
    color: rgb(37, 102, 143);
    list-style-type: none;
    padding-left: 15px;
    text-decoration: none;
}